@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
}

body {
  background: #7384c1;
  font-family: 'Roboto', sans-serif;
}

input[type="text"] {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none !important;
}

input[type="submit"] {
  background: #86bb71;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
  transition: all .2s;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #649950;
  color: #dfd;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  max-height: 90vh;
  margin: 4vh auto;
  font-family: 'Roboto', sans-serif;
}

.chatWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 90vh;
  margin: 4vh auto;
  font-family: 'Roboto', sans-serif;
  transition: all .375s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.left {
  left: 0;
}

.center {
  left: 120px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 600px;
  background: #f9f9f9;
  border: 1px solid #fff;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
  min-height: 70px;
  color: #fff;
  background: #86bb71;
  border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 700px) {
  #userListPanel {
    display: none;
  }
  .loginWrapper {
    max-height: 100vh;
    margin: 33vh auto;
  }
  .chatWrapper {
    max-height: 100vh;
    margin: 0 auto;
    left: 0;
  }
  input[type="submit"] {
    display: none;
  }
  .title {
    min-height: 30px;
  }
  #roomTitle {
    font-size: 18px;
  }
}
