.messages {
  flex-grow: 1;
  padding: 20px;
  height: 90vh;
  max-height: 90vh;
  overflow-y: scroll;
}

.chat-input {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
}

.chat-input input[type="text"] {
  width: 100%;
  padding: 20px;
  overflow-x: scroll;
}

.message {
  margin-bottom: 20px;
}

.message-body {
  max-width: 100%;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  color: #fff;
  padding: 14px 10px;
  margin: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.message.from-me {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-bottom: 5px;
}

.message.from-me .message-body {
  background: #86bb71;
}

.message.from-me .message-body:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #86bb71 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 34px;
}

.message.from-other {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 5px;
}

.message.from-other .message-body {
  background: #7384c1;
}

.message.from-other .message-body:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #7384c1 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  right: 34px;
}

.message.from-me .user-info {
  display: flex;
  align-items: center;
}

.message.from-other .user-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 0 10px;
}

.message.from-me .profile-pic {
  border: 3px solid #86bb71;
}

.message.from-other .profile-pic {
  border: 3px solid #7384c1;
}

.username {
  font-weight: bold;
  font-size: 1rem;
  color: #999;
  margin: 0 10px;
}

.date {
  font-size: 0.6rem;
  color: #999;
  margin-top: 4px;
}

#feedback p {
  color: #aaa;
  padding: 8px 0px;
  margin: 0 20px;
}

#leaveRoom {
  background: #86bb71;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-top-right-radius: 5px;
}

#leaveBtn {
  transition: all .2s;
  padding: 2px;
}

#leaveBtn:hover {
  color: #ddd;
  cursor: pointer;
}

#userListPanel {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: #86bb71;
  border: 1px solid #fff;
  border-radius: 5px;
  z-index: 0;
  transition: all .375s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.hide {
  transform: translateX(-90%);
}

.show {
  transform: translate(0);
}

#topRightPanel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  min-height: 70px;
  color: #fff;
  overflow-wrap: break-word;
}

#userProfile {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  align-items: center;
  min-height: 70px;
  padding: 0 10px;
  overflow-wrap: break-word;
}

#userProfile strong {
  color: #fff;
  max-width: 70%;
}

.whiteBorder {
  border: 3px solid #f9f9f9;
}

#usersWindow {
  display: flex;
  flex-grow: 100;
  overflow: auto;
  background: #7384c1;
  overflow-wrap: break-word;
  padding: 10px;
  border-bottom-right-radius: 5px;
}

#userList {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
}

#windowSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  color: #fff;
  overflow: visible;
  padding: 0;
  margin: 0;
}

#slider {
  opacity: 0.5;
  transition: all .2s;
  padding: 5px 10px;
}

#slider:hover {
  opacity: 1;
  cursor: pointer;
}

.fa-angle-left:hover {
  transform: translateX(-5px);
}

.fa-angle-right {
  padding: 0;
  margin: 0;
}

.fa-angle-right:hover {
  transform: translateX(5px);
}

.slide-enter {
  opacity: 0.01;
  position: relative;
  top: -20px;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  position: relative;
  top: 0;
  transition: all 200ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
