@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 96%;
}

body {
  background: #7384c1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

textarea {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

button {
  background: #86bb71;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

button:hover {
  cursor: pointer;
}

#wrapper {
  display: flex;

}

#chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 5px;
  background: #f9f9f9;
}

#roomName h2 {
  font-size: 20px;
  padding: 10px 20px;
  color: #575ed8;
}

#chatWindow {
  flex-grow: 100;
  height: 500px;
  overflow: auto;
  background: #f9f9f9;
  overflow-wrap: break-word;
}

.userData {
  margin-left: 25px;
}

.alignRight {
  text-align: right;
  margin-right: 25px;
}

#outputSelf {
  margin-right: 50px;
}

#outputSelf p {
  position: relative;
  color: #fff;
  padding: 14px 10px;
  margin: 10px 20px;
  border-radius: 5px;
  background: #86bb71;
}

#outputSelf p:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #86bb71 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 26px;
}

#outputOther {
  margin-left: 50px;
}

#outputOther p {
  position: relative;
  color: #fff;
  padding: 14px 10px;
  margin: 10px 20px;
  border-radius: 5px;
  background: #7384c1;
}

#outputOther p:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #7384c1 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  right: 26px;
}

.date {
  display: inline;
  font-size: 12px;
  margin: 0 10px;
  color: #bbb;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

.userData strong {
  color: #575ed8;
}

.profilePic {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 3px solid #86bb71;
  margin: 0 5px;
}

.greenBorder {
  border: 3px solid #86bb71;
}

.blueBorder {
  border: 3px solid #7384c1;
}

#message {
  height: 80px;
  overflow-wrap: break-word;
}

#handle {
  height: 40px;
}
