@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #7384c1;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#roomName h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#chat {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background: #f9f9f9;
}

#chatWindow {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
  position: relative;
  color: #fff;
  padding: 14px 10px;
  margin: 10px 20px;
  border-radius: 5px;
  background: #86bb71;
}

#output p:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #86bb71 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 26px;
}

.date {
  display: inline;
  font-size: 10px;
  margin: 10px;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#userData {
  margin: 0 15px;
}

#userData strong {
  color: #575ed8;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

button {
    background: #86bb71;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

button:hover {
  cursor: pointer;
}
