<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>

    <div id="loginWrapper">
      <div id="title">
        <h2>Socket.io Chat App</h2>
      </div>
      <div class="socialButtons">
          <a href=""><img class="loginBtn" src="img/facebookLoginBtn.png" alt="Sign-In with Facebook"></a>
      </div>
      <div id="loginForm">
        <input id="username" type="text" placeholder="Username"></input>
        <input id="password" type="text" placeholder="Password"></input>
        <button id="login">Login</button>
      </div>
    </div>

  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script>
    $('#login').click(function() {
      window.location.href = 'room';
    });
  </script>
</html>
